@charset "UTF-8";
 * {
    font-family: Arial, Helvetica, sans-serif;
    height:auto;
}

body{
    
    height: 100%;
background-image: linear-gradient(to right ,#9ae3ec,#b3eaf1, #cdf1f6);
background-attachment: fixed;
}

main{
background-color: antiquewhite;
border-radius: 30px;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.397);
width: 800px;
padding: 20px;
margin: auto;
}
h1{
color: rgb(196, 141, 69);
text-align: center;
text-shadow: 1px 1px 0px rgba(196, 141, 69, 0.185);
}

h2{
color: rgb(83, 68, 0);
}

p{
    text-align: justify;
}