
@font-face {
  font-family:'idroid';
  src:url('fontes/idroid.otf');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {

margin: 0;
background-color: antiquewhite;

}
header {
  
  font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     padding: 40px 20px 10px;
   background-image: linear-gradient(to bottom, #1a874b, #063d1e);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    
}
header h1{
 margin: 10px;
 padding: 10px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: white;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}
header h2{
   margin: 10px;
 padding: 10px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: white;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}
h1{
    font-family:'idroid' ;
text-align: left;
}

 h2{
    font-family:'idroid' ;
  text-align: left;
}



nav {
    text-align: left;
    
}
nav> a {
    color: white;
    margin: 3px;
  padding: 6px 10px;
  text-decoration: none;
}
nav a:hover{
     background-color: white;
  color: black;
  border-radius: 5px;
}

main {
  max-width: 900px;   /* DIMINUI tudo */
  margin: 30px auto;  /* CENTRALIZA no background */
  padding: 10px;
}

article {
    
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
background-color: rgb(255, 255, 255);

padding: 10px;

}
article> h1{
    margin: auto;
    background-color: #0fa51750;
    color: rgb(54, 107, 1);
    
}
article> h2 {
    background-color: #a2ff0038;
    color: rgb(54, 107, 1);

}
picture {
  max-width: 100%;
  height: auto;

}
img{
 
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  max-width: 100%;
  height: 400px;
  border: none;
}


footer{

}

footer h2 {
text-align: center;
background-color: green;
border: solid 1px black;
}