@charset "UTF-8";
 * {
    font-family: Arial, Helvetica, sans-serif;
    height:auto;
}

body{   
height: 100%;
background-image: linear-gradient(135deg, #1e3c72, #2a5298);
background-attachment: fixed;
}

main {
    
background-color: (135deg, #ffffff, #e3f2fd);
border-radius: 30px;
box-shadow:5px 5px 15px rgba(0, 0, 0, 0.397);
width: 900px;
padding: 20px;
margin: auto;
justify-content: center;
align-items: center;

}
h1{
font-family: 'Courier New', Courier, monospace;
color: rgb(8, 8, 8);
text-align: center;
text-shadow: 1px 1px 0px rgba(196, 141, 69, 0.185);
}

h2{
    font-family: 'Courier New', Courier, monospace;
color: rgb(204, 204, 203);
}

p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: #000000
}
div:hover {
    border-radius: 30px;
    background-color: #ffffff;
    width: 900px;

    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.397);


}