@charset "UTF-8";
        h1{
            color: black;
        }
        body{
            background-color: blueviolet;
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
         color: yellow;
        }
